.psw-count-searchbar-container> div{
  display: flex;
  flex-direction: column;
  gap:16px;
  color:white;
}
.fields{
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  color:white;

}
.fields-containers{
  display: flex;
  flex-direction: column;
  gap:10px;
}
.profile-txt{
  font-family: Inter;
  font-weight: 700;
  color: rgb(255, 255, 255);
  background-color: #06630d;
  padding: 16px;
  border-radius: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}
.each-psw-container{
   display: flex;
   flex-direction: row;
   gap:16px;
   padding: 16px;
   background-color: #a8a8a8;
   border-radius: 16px;
   width:30%;
}
.psw-card-container{
  display: flex;
  flex-direction: row;
  gap:32px;
  margin-top: 50px;
}

.searchbar{
  border: 1px solid #9ca0b2;
  border-radius: 8px;
  
}
.txt{
  font-family: Inter;
  color:white;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
span{
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border: 1px solid #b6bff0;
}
.psw-count-searchbar-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pswManager-container{
  background-color: #5763a5;
  border-radius: 16px;
  padding: 24px;
}

.psw-container{
  display: flex;
  flex-direction: column;
  gap:24px;
  background-color: #9ba9eb;
  height: 100vh;
  padding: 32px;

}
.inputs-container{
  display: flex;
  flex-direction: row;
  gap:32px;
  
}
.inputs{
  display: flex;
  flex-direction: column;
  gap:16px;
  background-color: #5763a5;
  border-radius:16px;
  padding: 24px;
  height: auto;
  justify-content: center;
  align-items: start;

}
.input{
  height:32px;
  border-radius: 8px;
  border: 1px #a4aebb solid;
}
.Logo{
  width:25%;
  margin-bottom: 25px;
}